@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-background-light: rgb(250, 250, 250);
  --color-foreground-light: rgb(0, 0, 0);

  --color-background-dark: rgb(5, 5, 5);
  --color-foreground-dark: rgb(255, 255, 255);
}

:root[data-theme='light'] {
  color: var(--color-foreground-light);
  background-color: var(--color-background-light);
}

:root[data-theme='dark'] {
  color: var(--color-foreground-dark);
  background-color: var(--color-background-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
